html,body,.container-fluid {
    height:100%;
}

.container-fluid {
    display:table;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
	background: #565656;
}

.navbar-brand {
	padding-top:10px;
}

.name {
  font-size: 11px;
  color: white;
  padding-top: 18px;
}

.nav-fluid {
    padding-left: 15px;
}

#nav-names {
	color: white;
}



