.profile-teaser-left {
    float: left; width: 20%; margin-right: 1%;
}
.profile-img img {
    width: 80%; height: auto;
}

.profile-teaser-main {
    float: left; width: 79%; margin-top: 5px;
}

.list-group-item {
    margin-bottom: 10px;
}
