.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.avatar {
	text-align: center;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 30px 30px 0px 30px;
}

.title {
  color: #5E5A5A;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}
