<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/logos/favicon.ico"/>
    <title>Challenges Marketplace</title>
    {% include 'snippets/css.html' %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/side_buttons.css">
    {% block styles %}{% endblock styles %}
</head>
<body style="background-color: #F7F7F7">
{% include 'snippets/navbar_white.html' %}

{% block content %}{% endblock content %}

{% include 'snippets/js.html' %}
<script>
    $(document).ready(function(){
        {% block jquery %}{% endblock %}
    })
</script>
</body>

</html>
